.sidebar {
  min-height: 100vh;
  max-width: 320px;
  min-width: 60px;
  position: relative;
  width: 60px;
}
.sidebar.expanded {
  width: 320px; /* 展开时的宽度 */
}

/* 内部元素容器 */
.sidebar-content-wrapper {
  position: absolute; /* 关键：使内容不随父容器宽度变化而移动 */
  left: 0;
  top: 0;
  height: 100%;
  padding: 0 20px;
  white-space: nowrap; /* 防止文字换行 */
  background-color: #f0f4f9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar img {
  width: 20px;
}

.top-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between;
  gap: 40px;
}

.menu-btn,
.new-chat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  background-color: #e6eaf1;
  border-radius: 50%;
}

.new-chat-btn.expanded {
  background-color: #e6eaf1;
  width: 100%;
  border-radius: 50px;
}

.new-chat-btn.expanded .new-chat-text {
  padding-left: 10px;
  padding-right: 10px;
}

.new-chat-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .recent-wapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.sidebar .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  row-gap: 20px;
  margin-bottom: 20px;
}

.sidebar .bottom-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  cursor: pointer;
  column-gap: 20px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
